{% extends "base/base.html" %}
{% load static %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock extra_head %}
{% block title %}flexBlock | Home{% endblock  %}
{% block content %}
{% comment %} <div class="dcjcbd">
    <div class="class_line">
        <div class="class">
            {% for room in rooms %}
            <div class="room">
                <a href="/community/{{room.name}}"><img class="backimage" src="/media/{{room.backimage}}"/></a>
                <div class="room_explain">
                    <div class="name">
                        <a href="/community/{{room.name}}"><b>{{room.name}}</b></a>/ from<a style="color: black;" href="{% url 'page' %}?id={{ room.managername.id }}"><u><img src="/media/{{room.managername.icon}}/" class="class_account_icon" alt=""/><b>{{room.managername}}</b></u></a>
                        <b><div class="explain">{{room.index}}</div></b>
                    </div>
                </div>
            </div>
            <br>
            {% endfor %}
        </div>
    </div>
</div>  {% endcomment %}
<main class="group-container">
    {% for room in rooms %}
    <div class="group-card">
        <div class="group-image">
            <img class="backimage" src="/media/{{room.backimage}}"/>
        </div>
        <div class="group-content">
            <h2>{{room.name}}</h2>
            <p>{{room.index}}</p>
            <button onclick="location.href='/community/{{room.name}}'" class="btn"><b>詳細を見る</b></button>
        </div>
    </div>
    {% endfor %}
</main>
{% endblock %}