{% extends "base/base.html" %}
{% load static %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/network.css' %}">
{% endblock extra_head %}
{% block title %}flexBlock | Network{% endblock  %}
{% block content %}
<div class='mains'>
    <ul class='group_category'>
        {% for network in networks %}
        <li class='category'>
            <img class="image_bord" src="/media/{{network.image}}" alt=""/>
            <a href="{% url 'network' %}?name={{network.name}}">#{{network.name}}</a>
            <p>{{network.index}}</p>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}