{% extends "base/base.html" %}
{% load static %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/network.css' %}">
{% endblock extra_head %}
{% block title %}flexBlock | Network{% endblock  %}
{% block content %}
<div class='mains'>
    {% for network in networks %}
    <div class='category'>
        <span class="badge">NEW</span>
        <div class="shcb">
            <img class="image_bord" src="/media/{{network.image}}" alt=""/>
        </div>
        <div class="group_info">
            <a href="/flex/networks/{{network.name}}">{{network.name}}</a>
            <p>{{network.index}}</p>
        </div>
    </div>
     {% endfor %}
</div>
{% endblock %}