body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background: linear-gradient(135deg, #1f1c2c, #928dab);
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}
#main {
    margin: 40px 0px 0px 15px;
    width: 900px;
    border-radius: 8px;
}
.profile_filed {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    background-color: white;
}
.menu_line{
    margin-top: 15px;
    margin-left: -10px;
    width: 210px;
    height: 100%;
    position: relative;
}

.main_filed {
    width: 100%;
}

.icon-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #ddd;
    margin-bottom: 0px;
    margin-top: 20px;
    margin-left: -7.5px;
}
.name-container {
    text-align: center;
    margin-top: 0px;
}

.name {
    font-size: 3.0em;
    font-weight: bold;
    color: #333;
    margin-left: -15px;
    text-align: center;
}
.root {
    margin: 0px 10px 15px 0%;
}
.buttons {
    background-color: #50C878;
    color: white;
    border: none;
    padding: 10px 30px;
    border-radius: 4px;
    cursor: not-allowed;
    margin-left: 10%;
}
.button {
    background-color: #50C878;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: not-allowed;
}

.hr {
    margin: -20px 0;
    border: none;
    border-top: 1px solid #ddd;
}

.sub_filed {
    list-style: none;
    padding: 0;
    text-align: left;
    margin: 25px 125px 0px -125px;
}

.sub_filed li {
    margin-bottom: 10px;
    font-size: 1em;
    color: #555;
}

.tab2-group {
    display: flex;
    justify-content: space-between;
    margin-left: -25px; 
    padding: 20;
    list-style: none;
    align-items: center;
    justify-content: center;
    width: 75%;
}

.tab2 {
    flex-grow: 1;
    text-align: center;
    cursor: pointer;
    padding: 10px 0;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s;
}

.tab2.is-active2 {
    border-bottom-color: #50C878;
    color: #50C878;
}   
.panel2-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0px 0px 0px 0px;
}

.panel2 {
    display: none;
    width: 100%;
    margin-bottom: 10px;
}

.is-show2 {
    display: block;
    width: 100%;
}

.tab_1 {
    text-align: left;
}

.tab_1 h1, .tab_1 h2, .tab_1 h3 {
    margin: 0;
    color: #333;
}
.post_field {
    padding: 15px;
    margin: 0px 0px 0px 0px;
    background-color: #ffffff;
}
.post_field_home {
    margin: 10px;
} 

.info {
    background-color: #f0f8ff;
    padding: 10px;
    border-radius: 4px;
    margin-top: 10px;
}

.d-info, .d-info1, .d-info2 {
    margin-top: 5px;
}
.d-date{
    margin: -22.5px 0px 0px 20px;
}
.date {
    vertical-align: middle;
    margin-right: 5px;
}

.post_field {
    padding: 15px;
    margin: 0px 0px 0px 0px;
    background-color: #ffffff;
}

.post_user {
    align-items: center;
    text-align: left;
    gap: 0px;
}
.post_creates{
    margin-left: -10px;
}
.post_icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.post_username a {
    color: #000000;
    text-decoration: none;
    font-size: 1.0em;
}

.post_text {
    margin: 10px 0px 0px 50px;
    line-height: 1.6;
}

.menu_icon {
    display: flex;
    list-style: none;
    padding: 0;
    margin-left: 45px;
}

.a_icon svg {
    fill: #000000;
    cursor: pointer;
    margin-top: -10px;
}

.hr_style {
    margin-top: -45px;
    width: 100%;
    border: none;
    height: 1px;
    background-color: #ddd;
}


@media (max-width: 768px) {
    #main {
        width: 95%;
    }
    .profile_image {
        height: 175px;
    }
    .profile_icon {
        width: 70px;
        height: 70px;
        margin-top: -35px;
    }
    .name {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    #main {
        width: 100%;
        height: auto;
        margin: 15px 0px 0px 0px;
        border-radius: 8px;
    }
    .icon-image {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        align-items: center;
        border: 2px solid #ddd;
        margin-top: 0px;
        margin-left: 5px;
    }
    .profile_name{
        text-align: center;
        margin-top: 20px;
    }
    .name-container {
        text-align: center;
        margin-top: 50px;
        margin-left: 0px;
    }
    .profile_filed{
        margin: 40px 0px 0px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .profile_icon {
        width: 50px;
        height: 50px;
        margin-top: 0px;
    }
    .name {
        font-size: 2.5em;
        margin-left: -25px;

    }
    .hr{
        border: 0;
        border-top: 1px solid #e0e0e0;
        margin: -5px 0;
    }

    .tab2-group {
        display: flex;
        justify-content: space-between;
        margin-left: 0px;
        margin-bottom: 0px;
        padding: 10px;
        list-style: none;
        align-items: center;
        justify-content: center;
        width: 100%;
        text-align: center;
    }
    .tab2 {
        padding: 5px 5px 5px 5px;
        align-items: stretch;
        text-align: center;
        width: 100%;
    }
    .tab2.is-active2 {
        border-bottom-color: #50C878;
        align-items: stretch;
        color: #50C878;
        padding: 5px 5px 5px 5px;
        width: 100%;
    }
    .sub_filed {
        list-style: none;
        padding: 0;
        margin: 0px 15px 0px -135px;
    }
    .button {
        background-color: #50C878;
        color: white;
        border: none;
        padding: 5px 10px;
        border-radius: 4px;
        cursor: not-allowed;
    }
    .root {
        margin: -5px 0px 15px -30px;
    }
}