{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% block title %}flexBlock | Signup{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/account/signup.css' %}">
{% endblock %}
{% block content %}
<div class="main">
  <div class="flexBlock">
    <b>oasis</b>
  </div>
  <div class="Signup">
    <h2><b>サインアップ</b></h2>
    <form class="Signup_form" method="post" action="{% url 'account_signup' %}">
      {% csrf_token %}
      {% comment %} {{ form.as_p }} {% endcomment %}
      <div>{{ form.email }}</div>
      <div>{{ form.username }}</div>
      <div>{{ form.first_name }}</div>
      <div>{{ form.last_name }}</div>
      <div>{{ form.password1 }}</div>
      <div>{{ form.password2 }}</div>
      <button class="button" type="submit"><b>サインアップ</b></button>
      <hr class="hr">
    </form>
    <a href="/accounts/login/"><button class="button_login"><b>ログイン</b></button></a>
  </div>
</div>
{% endblock %}