@charset "UTF-8";
:root {
    font-family: Söhne, -apple-system, BlinkMacSystemFont, Helvetica, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: #fff;
    display: block;
    margin: 0;
}

a {
    font-weight: 400;
    text-decoration: inherit;
    color: #10a37f;
}

.main {
    margin-top: 100px;
}

.flexBlock {
    font-size: 35px;
    text-align: center;
    color: #50C878;
}

.explain {}

.Signup {
    text-align: center;
    margin-top: -15px;
}

.signup_form {}

.button,
.button_login {
    /* background: black; */
    background: #50C878;
    color: white;
    border-radius: 5px;
    border: 1px solid white;
    width: 300px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover,
.button_login:hover {
    background-color: #42a563;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 300px;
    height: 35px;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid grey;
    padding: 0 10px;
    margin-bottom: 15px;
}

#id_password_helptext {
    display: block;
}

ul {
    font-size: 12.5px;
    list-style-type: none;
    padding: 0;
}

li::before {
    content: '';
}

.hr {
    text-align: center;
    width: 350px;
    border-top: 1px solid #ccc;
    margin: 20px auto;
}
.name_ul{
    display: flex;
    gap: 10px;
    margin-left: 39.25%;
}
#id_first_name.first_name{
    width: 135px;
}
#id_last_name.last_name{
    width: 135px;
}